article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

p,
pre {
  margin: 1em 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 0;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ir {
  color: transparent !important;
  text-shadow: none !important;
  font: 0/0 a !important;
  text-indent: -999em; }
  .ir br {
    display: none; }

.hide {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:after, .clearfix:before {
    display: table;
    content: ""; }
  .clearfix:after {
    clear: both; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-callout: none; }

@font-face {
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 12px;
  background: white;
  -webkit-font-smoothing: antialiased; }

canvas {
  display: block; }

::selection,
::-moz-selection {
  background: #22ccff;
  text-shadow: none;
  color: white; }

#datgui {
  position: absolute;
  margin-right: 0;
  z-index: 1;
  right: 0; }
  #datgui .dg .cr.graph {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-callout: none;
    border-left: 3px solid #ffdd66;
    height: 240px; }
    #datgui .dg .cr.graph .property-name {
      width: 100%; }
    #datgui .dg .cr.graph .graph-wrapper {
      position: relative;
      overflow: hidden;
      float: left; }
    #datgui .dg .cr.graph .graph-handle {
      border-radius: 5px;
      margin: -5px;
      position: absolute;
      background: #ffdd66;
      height: 10px;
      width: 10px;
      cursor: pointer;
      left: 0;
      top: 0; }
      #datgui .dg .cr.graph .graph-handle:before {
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.05);
        height: 30px;
        width: 30px;
        margin: -10px;
        display: block;
        content: ""; }
    #datgui .dg .cr.graph canvas {
      background: #303030;
      display: block; }
  #datgui .dg .closed .cr.graph {
    height: 0; }

#story {
  margin: 40px auto;
  width: 1020px; }

#profiles {
  margin: 0;
  padding: 0;
  width: 100%; }
  #profiles .profile {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    width: 500px;
    height: 360px;
    border: 1px solid red;
    float: left; }
    #profiles .profile.a {
      border-color: #52cc00; }
    #profiles .profile.b {
      border-color: deepskyblue; }
    #profiles .profile.c {
      border-color: #d90000; }
    #profiles .profile + .profile {
      margin-left: 20px; }
    #profiles .profile .name {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }

#mask {
  overflow: hidden;
  height: 1000px; }

#script {
  position: relative;
  margin: 100px auto;
  width: 816px;
  height: 1000px; }
  #script:after {
    background-image: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 100px; }
  #script .wrapper {
    -webkit-transition: top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute; }
  #script p {
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 0;
    position: relative;
    line-height: 30px;
    padding: 25px 30px;
    border: 1px solid #aaaaaa;
    font-family: serif;
    font-size: 22px;
    color: #222222;
    margin-bottom: 15px; }
  #script .ghost {
    opacity: 0.5; }
  #script .active {
    border-color: #52cc00;
    background: rgba(82, 204, 0, 0.25); }
    #script .active.b {
      border-color: deepskyblue;
      background: rgba(0, 191, 255, 0.25); }
    #script .active:before {
      display: block;
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: -50px;
      top: 50%;
      margin-top: -30px;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 30px solid #222222; }
  #script .pending {
    opacity: 0.75; }
  #script .hide {
    display: block !important;
    visibility: visible;
    opacity: 0; }
